 <div class="user-details">
  <h1> What We Do </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Project Design</h2>
	  <div class="protomed_example"></div>
      <p>Our team works with you to develop your 3D printing project.</p>
    </div>
    <div class="tech">
      <h2>MUN Medical Research</h2>
	  <div class="protomed_example2"></div>
      <p>Since our team is based at MUN, we can work closely with faculty members and other MUN organizations to accomplish goals.
	  </p>
    </div>
</div>
<div class="user">
<p>We are currently open for projects. If you are interested in working with us, <a href="https://www.notion.so/How-MUN-ProtoMED-works-and-your-role-in-working-with-us-49d3ba33a90d40bf80e330a1bfa27d76" target="_blank">please read this document</a>. Once you have read the document, fill out this <a href="https://forms.gle/4gTHjMSqDRbfAfUz8" target="_blank">project intake request form.</a> Once filled out, we will be in contact shortly!</p> 
</div>
